---
import Navigation from '../components/Navigation.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import '../style/global.css';
import BlurTitle from '../components/blurTitle.jsx'; // <-- questo importa il componente React
---

<Layout>
  <Navigation />

  <h1>My Astro</h1>

  <!-- Qui aggiungi l'H1 animato -->
<BlurTitle title='Daje Roma' client:load />

  <!-- puoi anche usare client:visible o client:idle -->

  <Welcome />
</Layout>
